body,html{
	height:100% !important;
	width: 100% !important;
	overflow: hidden;
}

.cavres,.page{
	width:100% !important;
	height:100% !important;
	transition: all 1s;	
}
.page{
	position: relative;
	top: 0;
	left: 0;
}
.mui-bar{
	background-color: #41d2a7 !important;
}
.mui-title{
	color: #fff !important;
}
.mui-action-back{
	color: #fff !important;
}
.Imgbox{
	width:100%;
	height: 300px;
	position: relative;
	left: 0;
	top: 44px;
}
.mui-slider-group{
	width:100%;
	height: 300px;
	position: absolute;
	left: 0;
	top: 0px;
	z-index: 0;
}
.mui-slider-item img{
	width: 100%;
	height: 300px;
	border: none;
	display: block;
}
.mui-slider-title{
	background-color: rgba(255,255,255,.3);
	height: 40px;
	line-height: 40px;
	color: #fff;
}
.Imgboxs{
	position: relative;
	top: 44px;
	z-index: 0;
}

.describe{
	margin-top:44px ;
	width: 100%;
	height: 35%;
	padding:0 10px;
	overflow: hidden;
}
.describe p{
	width: 100%;
	text-indent: 2em;
	line-height: 24px;
	height: 80%;
	text-align: left;
}
.btn,.btns{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}
.mui-btn{
	margin-bottom: 0;
	border-radius:0;
}
.taskbtn{
	clear: both;
	display: none;
}
.mui-btn-red,.mui-btn-green{
	width: 50%;
	height: 57px;
	font-size: 18px;
	float: left;
}
.fadeInRight {
	-webkit-animation:fadeInRightBig 1s both;
}
.fadeOutLeft{
	-webkit-animation:fadeOutLeftBig 1s both;
}
.pulse{
	-webkit-animation:rubberBand 1s both;
}
@-webkit-keyframes fadeInRightBig {
	0% {
	opacity:0;
	-webkit-transform:translateX(2000px);
	transform:translateX(2000px)
}
100% {
	opacity:1;
	-webkit-transform:translateX(0);
	transform:translateX(0)
}
}

@-webkit-keyframes fadeOutLeftBig {
	0% {
	opacity:1;
}
100% {
	opacity:0;
	-webkit-transform: translateY(2000px);
}
}


@-webkit-keyframes rubberBand {
	0% {
	-webkit-transform:scale(1);
	transform:scale(1)
}
30% {
	-webkit-transform:scaleX(1.25) scaleY(0.75);
	transform:scaleX(1.25) scaleY(0.75)
}
40% {
	-webkit-transform:scaleX(0.75) scaleY(1.25);
	transform:scaleX(0.75) scaleY(1.25)
}
60% {
	-webkit-transform:scaleX(1.15) scaleY(0.85);
	transform:scaleX(1.15) scaleY(0.85)
}
100% {
	-webkit-transform:scale(1);
	transform:scale(1)
}
}